.h5p-image-hotspot-question .image-hotspot {
  position: absolute;
}

.h5p-image-hotspot-question .image-hotspot.circle {
  border-radius: 50%;
}

.h5p-image-hotspot-question .image-wrapper {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.h5p-image-hotspot-question .h5p-enable-fullscreen {
  display: none;
}

.h5p-image-hotspot-question .h5peditor .file img {
  max-width: 500px;
}

/* Feedback circles */
.h5p-image-hotspot-question .hotspot-feedback {
  position: absolute;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #e6ced1;
  box-shadow: 0 0 0.25em 0 rgba(0, 0, 0, 0.5);
  color: #c33f62;
  font-size: 16px;
  visibility: hidden;
}

.h5p-image-hotspot-question .hotspot-feedback:before {
  font-family: "H5PFontAwesome4";
  content: "\f00d";
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 32px;
}

/* Correct feedback */
.h5p-image-hotspot-question .hotspot-feedback.correct {
  background: #d1e2ce;
  color: #39692e;
}

.h5p-image-hotspot-question .hotspot-feedback.correct:before {
  content: "\f00c";
}

.h5p-image-hotspot-question .hotspot-feedback.fade-in{
  animation-name: fade-in;
  -webkit-animation-name: fade-in;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;

  visibility: visible !important;
}

@keyframes fade-in {
  0% {
    transform: scale(0);
    opacity: 0.0;
  }
  30% {
    transform: scale(1.1);
  }
  60% {
    transform: scale(0.9);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  0% {
    -webkit-transform: scale(0);
    opacity: 0.0;
  }
  30% {
    -webkit-transform: scale(1.1);
  }
  60% {
    -webkit-transform: scale(0.9);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 1;
  }
}
